<section class="alt-section section-contact">

  <h3 id="contact">Contact</h3>


  <div class="social-links">
    {% for link in site.data.settings.social %}
    <a href="{{ link.link }}" class="icon-{{ link.icon }}"></a>
    {% endfor %}
  </div>

  <!-- <hr class="bar">

  <div class="address">
    <div><i class="icono-smile inline"></i><div class="inline bizcard_name">FABRIZIO TAPPERO</div>
    <div><i class="icono-mail inline"></i><a class="inline clink bizcard_email" href="mailto:{{ site.data.settings.email }}">fabrizio.tappero@focusaway.com</a></div>
    <div><i class="icono-iphoneBold inline"></i><a class="inline clink bizcard_tel" href="tel:{{ site.data.settings.tel }}">{{ site.data.settings.tel }}</a></div>
    <div><i class="icono-locationArrow inline"></i><a class="inline clink bizcard_loc" href="https://www.google.com/maps/place/Carrer+de+Girona,+61,+08009+Barcelona,+Spain/@41.3943471,2.1693828" target="_blank">C/ Girona 61, Barcelona, Spain</a></div>
  </div> -->

</section>
