<section>
  
  <h3>Contact Me</h3>

<form method="POST" action="https://formspree.io/f/mzdqraon">
  <div class="contact-info-group">

    <label>
      <span>Your Name</span>
      <input type="text" name="name">
    </label>

    <label>
      <span>Your Email</span>
      <input type="email" name="_replyto" placeholder="Email Address">
    </label>

  </div>

  <label>
    <span>Message Content</span>
    <textarea name="message"></textarea>
  </label>

  <div class="submit-wrap">
    <input type="submit" value="Send">
    <!-- <input type="text" name="_gotcha" style="display:none" /> -->
  </div>

  <!-- add to value: spammy pattern, banned term, phrase -->
  <input type="hidden" name="_blacklist" value="resultleadgeneration, actionleadgeneration, ericjonesmyemail, Eric">

  <input type="hidden" name="_next" value="{{ site.url }}/form-success/">
  <input type="hidden" name="_template" value="table">

</form>
</section>
