<section>

  <h3>Let's work together</h3>

<!-- <form method="POST" action="//formspree.io/{{ site.data.settings.email }}"> -->
<form method="POST" action="https://formsubmit.co/9b238879ac698d7a0ea808c1fe2fa0c7">
  <div class="contact-info-group">

    <label><span>Your Name</span>
    <input type="text" name="name"></label>

    <label><span>Your Email</span>
    <input type="email" name="_replyto"></label>

  </div>

  <label><span>Tell me about your project</span>
  <textarea name="message"></textarea></label>

  <div class="submit-wrap">
    <input type="submit" value="Send">
    <input type="text" name="_gotcha" style="display:none" />
  </div>

</form>

</section>
