<div class="social-share ">
  <a href="https://twitter.com/home?status=focusaway.com%20Great%20video%20makers%20in%20Barcelona,%20Spain" target="_blank" class="icon-share">{% include icons/icon-twitter.html %}</a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//focusaway.com/index.html" target="_blank" class="icon-share">{% include icons/icon-linkedin.html %}</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//focusaway.com" target="_blank" class="icon-share">{% include icons/icon-facebook.html %}</a>
</div>
