<section class="value-proposition">
  <div class="inner">
    <div class="sentence-quote-mark">{% include icons/icon-quote-mark.html %}</div>

      <p style="text-indent:40px;">
        <strong>Got a story to tell? A cool idea?</strong>Or just love creating things? I am always looking
        to connect with like-minded people — whether it's for short films, creative projects, or just exploring
        new ideas. If that sounds like you, let's talk and make it happen.
      </p>

    <div class="sentence-unquote-mark">{% include icons/icon-quote-mark.html %}</div>
  </div>
</section>
