<section class="value-proposition">
  <div class="inner">
    <div class="sentence-quote-mark">{% include icons/icon-quote-mark.html %}</div>
    <p style="text-indent:40px;">In the vast <strong>Internet market</strong>, entrepreneurs know how difficult it is to <strong>stand up</strong>. Text and still images are simply not enough.</p>
    <p>Consumers are smart, opinion-driven and informed. Before buying they want to see, to know and to know what others think.</p>
    <p>We create <strong>engaging</strong> and emotionally-relevant <strong>video content</strong> that will allow you to stand up. We do not care about being professional, we do all we can to be original and effective.</p>
    <div class="sentence-unquote-mark">{% include icons/icon-quote-mark.html %}</div>
  </div>
</section>
