
.posts
  margin: 30px auto
  width: 100%
  @include outer-container

  .post
    margin: 10px 0
    text-align: right

    @include span-columns(6)
    // some mixing to reorder how posts fill up the two columns
    @include omega(2n)

    @media (max-width: 640px)
      @include span-columns(12)

    h1,h2,h3,h4,h5,h6
      font-size: 1.5em
      margin: 20px auto 5px auto

    .entry
      color: rgba(black, 0.8)
      padding: 3px
      margin-bottom: -15px
      img
        width: 100%

    .read-more
      font-size: 0.9em
      background-color: rgba($accent, 0.9)
      color: white
      padding: 0 3px 2px 3px

    .read-more:hover
      background-color: rgba($accent, 0.8)

.posts, .post
  h1,h2,h3,h4,h5,h6
    text-transform: uppercase
    text-align: center
    color: $accent

  .post-date
    text-align: center
    font-style: italic

.post
  @include outer-container
  max-width: 650px
  font-size: 1.2em
  margin: 30px auto
  padding: 3px
  text-align: center
  img
    width: 100%
    margin: 20px auto
  h2
    font-size: 1.7em
    margin: 20px 0

  .fit-vids-style
    text-align: center
    margin: auto
  p
    text-align: justify
    margin: 8px auto
  ul, li
    text-align: left

  .back-button
    background-color: rgba($accent, 0.9)
    color: white
    padding: 5px 10px 5px 10px
    //margin: 400px auto
  .back-button:hover
    background-color: rgba($accent, 0.8)

.post-social-share
  text-align: center
  background-color: rgba($accent,0.8)
  .inner
    +display(flex)
    +justify-content(space-around)
    +flex-wrap(wrap)
    max-width: 500px
    margin: auto
    .elem, a
      margin: 10px auto
    .icon-share
      +size(35px)
      border-radius: 50%
      path
        fill: white
    .icon-share:hover
      path
        fill: rgba(white,0.7)
