.value-proposition
  padding: 10px
  .inner
    text-align: center
    font-size: 1.5em
    max-width: 800px
    margin: 30px auto
    padding: 10px
    color: $accent

    @media (max-width: 640px)
      font-size: 1.2em
