
.wedding_banner
  background-image: url('../img/bride-banner.jpg')
  background-size: cover
  //margin: 0 0 auto auto
  height: 600px
  width: 100%
  text-align: center
  //display: inline-block
  @media (max-width: 700px)
    height: 300px

  .inner
    text-align: left
    //max-width: 700px
    margin-left: 35%
    padding-top: 30px
    h1
      color: rgb(228, 209, 107)
      background-color: rgba(black, 0.2)
      padding: 4px
      font-size: 3.5em
      @media (max-width: 700px)
        font-size: 1.4em
      @media (max-width: 450px)
        font-size: 1.2em
    .highlight
      font-size: 1.5em
      color: white
      font-weight: bold
      @media (max-width: 700px)
        font-size: 1em


.wedding_offer
  font-size: 1.2em
  @media (max-width: 550px)
    font-size: 1em
  .inner
    margin: 10px auto
    max-width: 700px
    li
      text-align: left
      color: rgba($accent, 1)
      list-style-type: none
      margin-bottom: 20px
      svg
        +size(28px 28px)
        margin-left: -40px
        margin-bottom: -8px
        margin-right: 10px
        path
          fill: rgba(#E1C184, 1)

  h3
    padding: 20px 0

.wedding_packages
  font-size: 1.2em
  @media (max-width: 630px)
    font-size: 1em
  @media (max-width: 480px)
    font-size: 1.2em
  background-color: #f4f3f2
  text-align: center
  padding-bottom: 50px
  .inner
    max-width: 900px
    margin: auto
    .pk
      width: 200px

      @media (max-width: 630px)
        width: 150px
      @media (max-width: 480px)
        width: 100%
        height: 460px
        margin-bottom: 30px

      height: 750px
      margin: 0 auto
      display: inline-block
      background-color: white
      .description
        font-size: 0.8em
        margin: auto 5px 50px 5px
      h3
        font-size: 2em
        @media (max-width: 630px)
          font-size: 1.7em
        margin-bottom: 0
        color: rgba($accent, 1)
      ul, li
        text-transform: uppercase
        text-align: left
        list-style-type: none
        font-size: 0.9em
        padding: 0
        margin: 2px
      li
        font-weight: lighter
        padding-bottom: 12px
      li:last-child
        margin-bottom: 30px
        text-align: center
        font-size: 2em
        @media (max-width: 630px)
          font-size: 1.5em
        font-weight: bold
        color: rgba(#E1C184, 0.5)

.wedding_testimonials
  p
    margin: 0 0 2px 0
  font-size: 1.2em
  @media (max-width: 550px)
    font-size: 1em

  .inner
    margin: 0 auto
    max-width: 700px
    text-align: center
    .testimonial
      color: rgba($accent, 1)
      padding: 20px
      img
        width: 140px
      img, .blob
        display: inline-block
        margin: auto
        text-align: left
      .blob
        max-width: 400px
        font-style: italic
        padding-left: 20px
