
.wedding_wrap
  background-color: black

  .wedding_page_banner
    @extend %background-image
    background:
      position: 3px 0px, 0px 0px, center top
      image: url(../img/#{$logo-path}), linear-gradient(to right, rgba(201, 144, 101, 0.9), rgba(201, 144, 101, 0.7), rgba(201, 144, 101, 0.6), rgba(255, 255, 255, 0)), url('../img/girl.jpg')
      blend-mode: normal, normal, normal
      size: 150px 150px,165px 135px, cover
    padding-bottom: 950px
    margin-bottom: 30px

    @media (max-width: 700px)
      padding-bottom: 420px
      background-size: 70px 70px, 80px 70px, cover
      background-position: 5px 2px,0px 0px, center top

    .hero
      text-transform: uppercase
      font-family: 'Open Sans' sans-serif
      color: white
      font-weight: 100
      font-size: 51px
      position: absolute
      margin: 0
      width: 660px
      padding: 170px 0 0 40px
      @media (max-width: 700px)
        width: 255px
        padding: 75px 0 0 5px
        font-size: 21px
      p
        background-color: rgba(black, 0.4)
        margin: 0
        padding: 5px

  .wedding_page
    text-align: center

    .instagram
      max-width: 1350px
      margin: auto

      a
        margin: 0
        padding: 0
        filter: brightness(100%)
        img
          margin: -3px 0
          padding: 0
          width: 33.3%
          @media (max-width: 800px)
            width: 50%
      a:hover
        filter: brightness(110%)
