---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
  {% else %}
  <meta property="og:image" content="http://focusaway.com/assets/img/focusaway-share1.jpg" />
  <meta property="og:image" content="http://focusaway.com/assets/img/focusaway-share2.jpg" />
  <meta property="og:image" content="http://focusaway.com/assets/img/focusaway-share3.jpg" />
  {% endif %}
  <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 }}" />
  <link rel="image_src" href="http://focusaway.com/assets/img/focusaway-share3.jpg" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

{% include blog-header.html %}

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="post-date">
    Posted on {{ page.date | date: "%e %B %Y" }}
  </div>

  <div class="entry fit-my-post-vid-style">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>

<div class="post-social-share">
  <div class="inner">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="icon-share">{% include icons/icon-facebook.html %}</a>
    <!-- <a href="https://plus.google.com/share?
    url=http://tomhohenstein.com{{ page.url }}
    &hl=en-US"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="icon-share">{% include icons/icon-googlep.html %}</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}" rel="nofollow" target="_blank" title="Share on Linkedin" class="icon-share">{% include icons/icon-linkedin.html %}</a> -->
  </div>
</div>

{% include footer.html %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.eurl }}/assets/js/functions.js"></script>
<script src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
<script>$('.project-load').fitVids();</script>
 <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55798699-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
